* {
  margin: 0px;
}

button, a {
  border-radius: 30px;
  padding: 8px;
  margin-top: 20px;
  text-decoration: none;
  color: #282c34;
  font-size: small;
}

.section {
  display: grid;
  align-items: center;
  height: auto;
}

nav {
  background-color: #282c34;
  text-align: center;
  padding: 20px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  padding: 30px;
  color: whitesmoke;
}

footer {
  background-color: #282c34;
  color: whitesmoke;
  padding: 10px;
}

.main {
  margin: 25vw;
  margin-top: 15vw;
  padding: 30px;
  border-radius: 30px;
  position: absolute;
  background-color: #282c34;
  color: whitesmoke;
  filter: drop-shadow(30px 40px 40px rgba(0, 0, 0, 0.25));
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 6vw;
  line-height: 7vw;
}

.bg-img {
  width: 100vw;
  min-height: 70vh;
  overflow: hidden;
  object-fit: cover;
  text-align: center;
}

.highlights {
  text-align: center;
  background-color: whitesmoke;
  padding: 5vw 15vw;
}

.specials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  column-gap: 6vw;
  margin-top: 5vh;
  height: auto;
  padding: 10px;
}

.specials-img {
  height: 120px;
  width: 14vw;
  overflow: hidden;
  border-radius: 30px;
}

.testimonials {
  text-align: center;
  padding: 5vw 15vw;
  background-color: lightslategray;
}

.about {
  background-color: whitesmoke;
  text-align: center;
}

.about-img {
  margin: 20px;
  width: 80vw;
  border-radius: 30px;
}

.about-txt {
  position: absolute;
  background-color: aliceblue;
  width: 25vw;
  margin: 15vw;
  padding: 20px;
  border-radius: 30px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 30px;
  column-gap: 20px;
}

h4 {
  text-align: right;
}

.social-icons a {
  font-size: 30px;
  text-decoration: none;
  color: whitesmoke;
}

.reservations {
  background-color: whitesmoke;
  display: grid;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.form {
  display: grid;
  margin: auto;
  gap: 20px;
}

.input {
  width: 40vw;
}

.approved {
  border-color: green;
  color: green;
}

.box {
  padding: 30px;
  margin: auto;
  text-align: left;
  width: 50vw;
  background-color: whitesmoke;
  filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  margin-top: 0px;
}

input, textarea, select {
  font-size: small;
  border-radius: 12px;
  padding: 10px;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::placeholder {
  color: black;
}

.confirmed {
  text-align: center;
  height: 50vh;
  margin-top: 20vh;
}